.weather{
    width: 300px;
    border-radius: 6px;
    box-shadow: 10px -2px 20px 2px rgb(0 0 0 / 30%);
    background-color: #504d4ddd;
    margin: 24px auto 0 auto;
    padding: 0px 20px 20px 20px;

}

.left{
    text-align: left;
}

.right{
    text-align: right;
    width:100px;
}

.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.city{
    line-height: 1;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    margin: 0;
}

.description{
    line-height: 1;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
}

.bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
}

.temperature{
    font-size: 70px;
    width: auto;
    font-weight: 600;
    letter-spacing: -5px;
    margin: 10px 0;
}

.details{
    width: 100%;
    padding-left: 20px;
}

.parameter-row{
    display: flex;
    justify-content: space-between;
    
}

.parameter-label, .parameter-value{
    font-size: 12px;
    font-weight: 400;
}

.parameter-label{
    text-align: left;
}

.parameter-value{
    text-align: right;
    font-weight: 600;
}