.App {
  text-align: center;
}

.container{
  max-width: 1080px;
  margin: 20px auto;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.random-cities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* default 3 columns */
  gap: 1rem;
  margin-top: 2rem;
}

/* Medium screens (tablet) → 2 columns */
@media (max-width: 900px) {
  .random-cities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Small screens (mobile) → 1 column */
@media (max-width: 600px) {
  .random-cities-grid {
    grid-template-columns: 1fr;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
